In [1]:
import pandas as pd
import numpy as np
import os
import beepy as beep

In [2]:
url_csv = ['https://www.football-data.co.uk/mmz4281/2324/E0.csv',
'https://www.football-data.co.uk/mmz4281/2324/E1.csv',
'https://www.football-data.co.uk/mmz4281/2223/E0.csv',
'https://www.football-data.co.uk/mmz4281/2223/E1.csv',
'https://www.football-data.co.uk/mmz4281/2122/E0.csv',
'https://www.football-data.co.uk/mmz4281/2122/E1.csv',
'https://www.football-data.co.uk/mmz4281/2324/SC0.csv',
'https://www.football-data.co.uk/mmz4281/2223/SC0.csv',
'https://www.football-data.co.uk/mmz4281/2122/SC0.csv',
'https://www.football-data.co.uk/mmz4281/2324/SC1.csv',
'https://www.football-data.co.uk/mmz4281/2223/SC1.csv',
'https://www.football-data.co.uk/mmz4281/2122/SC1.csv',           
'https://www.football-data.co.uk/mmz4281/2324/D1.csv',
'https://www.football-data.co.uk/mmz4281/2324/D2.csv',
'https://www.football-data.co.uk/mmz4281/2223/D1.csv',
'https://www.football-data.co.uk/mmz4281/2223/D2.csv',
'https://www.football-data.co.uk/mmz4281/2122/D1.csv',
'https://www.football-data.co.uk/mmz4281/2122/D2.csv',
'https://www.football-data.co.uk/mmz4281/2324/I1.csv',
'https://www.football-data.co.uk/mmz4281/2223/I1.csv',
'https://www.football-data.co.uk/mmz4281/2122/I1.csv',
'https://www.football-data.co.uk/mmz4281/2324/I2.csv',
'https://www.football-data.co.uk/mmz4281/2223/I2.csv',
'https://www.football-data.co.uk/mmz4281/2122/I2.csv',
'https://www.football-data.co.uk/mmz4281/2324/SP1.csv',
'https://www.football-data.co.uk/mmz4281/2223/SP1.csv',
'https://www.football-data.co.uk/mmz4281/2122/SP1.csv',
'https://www.football-data.co.uk/mmz4281/2324/SP2.csv',
'https://www.football-data.co.uk/mmz4281/2223/SP2.csv',
'https://www.football-data.co.uk/mmz4281/2122/SP2.csv',
'https://www.football-data.co.uk/mmz4281/2324/F1.csv',
'https://www.football-data.co.uk/mmz4281/2223/F1.csv',
'https://www.football-data.co.uk/mmz4281/2122/F1.csv',
'https://www.football-data.co.uk/mmz4281/2324/F2.csv',
'https://www.football-data.co.uk/mmz4281/2223/F2.csv',
'https://www.football-data.co.uk/mmz4281/2122/F2.csv',
'https://www.football-data.co.uk/mmz4281/2324/N1.csv',
'https://www.football-data.co.uk/mmz4281/2223/N1.csv',
'https://www.football-data.co.uk/mmz4281/2122/N1.csv',
'https://www.football-data.co.uk/mmz4281/2324/B1.csv',
'https://www.football-data.co.uk/mmz4281/2223/B1.csv',
'https://www.football-data.co.uk/mmz4281/2122/B1.csv',
'https://www.football-data.co.uk/mmz4281/2324/P1.csv',
'https://www.football-data.co.uk/mmz4281/2223/P1.csv',
'https://www.football-data.co.uk/mmz4281/2122/P1.csv',           
'https://www.football-data.co.uk/mmz4281/2324/T1.csv',
'https://www.football-data.co.uk/mmz4281/2223/T1.csv',
'https://www.football-data.co.uk/mmz4281/2122/T1.csv',
'https://www.football-data.co.uk/mmz4281/2324/G1.csv',
'https://www.football-data.co.uk/mmz4281/2223/G1.csv',
'https://www.football-data.co.uk/mmz4281/2122/G1.csv']

In [3]:
lista_dfs =[]

In [4]:
for url in url_csv:
    df = pd.read_csv(url)
    lista_dfs.append(df)

In [5]:
df = pd.concat(lista_dfs, ignore_index=True)

In [6]:
df = df[['Date' , 'HomeTeam' , 'AwayTeam' , 'FTHG' , 'FTAG' , 'FTR' , 'B365H' , 'B365D' , 'B365A']]

In [7]:
df.columns = ['Data' , 'Home' , 'Away' , 'HG' , 'AG' , 'Result' , 'H_odd' , 'D_odd' , 'A_odd']

In [8]:
#Criando coluna 'Pts_H

df.loc[(df['HG']  > df['AG']), 'Pts_H'] = 3
df.loc[(df['HG'] == df['AG']), 'Pts_H'] = 1
df.loc[(df['HG']  < df['AG']), 'Pts_H'] = 0

#Criando coluna 'Pts_A'
df.loc[(df['HG']  < df['AG']), 'Pts_A'] = 3
df.loc[(df['HG'] == df['AG']), 'Pts_A'] = 1
df.loc[(df['HG']  > df['AG']), 'Pts_A'] = 0

In [9]:
df

,Data,Home,Away,HG,AG,Result,H_odd,D_odd,A_odd,Pts_H,Pts_A
0,11/08/2023,Burnley,Man City,0,3,A,8.00,5.50,1.33,0.0,3.0
1,12/08/2023,Arsenal,Nott'm Forest,2,1,H,1.18,7.00,15.00,3.0,0.0
2,12/08/2023,Bournemouth,West Ham,1,1,D,2.70,3.40,2.55,1.0,1.0
3,12/08/2023,Brighton,Luton,4,1,H,1.33,5.50,9.00,3.0,0.0
4,12/08/2023,Everton,Fulham,0,1,A,2.20,3.40,3.30,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...
14446,15/05/2022,Ionikos,Panetolikos,3,1,H,2.10,3.25,3.80,3.0,0.0
14447,15/05/2022,Lamia,Atromitos,0,0,D,2.62,3.20,2.87,1.0,1.0
14448,17/05/2022,AEK,Olympiakos,2,3,A,2.25,3.30,3.30,0.0,3.0
14449,17/05/2022,Giannina,Aris,0,3,A,4.33,3.30,1.95,0.0,3.0
14450,17/05/2022,PAOK,Panathinaikos,2,0,H,2.20,3.25,3.40,3.0,0.0

In [10]:
#df.to_excel('base_dados_football_data.xlsx' , index = False)

In [11]:
df['Data'] = pd.to_datetime(df['Data'], format='%d/%m/%Y')  # Use '%d/%m/%y' para datas no formato 'dd/mm/aa'
                          
df = df.sort_values(by='Data', ascending=True)

df = df.reset_index(drop=True)

In [12]:
df

,Data,Home,Away,HG,AG,Result,H_odd,D_odd,A_odd,Pts_H,Pts_A
0,2021-07-23,Schalke 04,Hamburg,1,3,A,2.62,3.50,2.55,0.0,3.0
1,2021-07-23,Standard,Genk,1,1,D,2.75,3.50,2.37,1.0,1.0
2,2021-07-24,Valenciennes,Niort,0,0,D,2.15,3.00,3.75,1.0,1.0
3,2021-07-24,Oud-Heverlee Leuven,Waregem,1,1,D,1.95,3.75,3.50,1.0,1.0
4,2021-07-24,Kortrijk,Seraing,2,0,H,1.75,3.80,4.50,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
14446,2023-12-27,Livingston,St Johnstone,0,0,D,2.38,3.25,3.20,1.0,1.0
14447,2023-12-27,Charleroi,Mechelen,3,1,H,2.10,3.30,3.50,3.0,0.0
14448,2023-12-28,Brighton,Tottenham,4,2,H,2.50,3.60,2.60,3.0,0.0
14449,2023-12-28,Arsenal,West Ham,0,2,A,1.33,5.50,7.50,0.0,3.0
14450,2023-12-28,Estrela,Arouca,1,4,A,2.55,3.30,2.70,0.0,3.0

In [13]:
#removendo os warnings
import warnings
warnings.filterwarnings("ignore")

In [14]:
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
#Criando função para limpar o df

def drop_reset_index(df):
    df = df.dropna().reset_index(drop=True)
    df.index+1
    return df

In [16]:
#Criando as variáveis

In [17]:
#Probabilidade

df['pro_H'] = 1/ df['H_odd']
df['pro_D'] = 1/ df['A_odd']
df['pro_A'] = 1/ df['A_odd']

#CV das Odds
desv_pad = df[['H_odd' , 'D_odd' , 'A_odd']].std(axis=1)
med_odd = df[['H_odd' , 'D_odd' , 'A_odd']].mean(axis=1)
cv_odd = desv_pad / med_odd
df['CV_odd'] = cv_odd

 
#CV das Probabilidades
desv_pad = df[['pro_H' , 'pro_D' , 'pro_A']].std(axis=1)
med_pro = df[['pro_H' , 'pro_D' , 'pro_A']].mean(axis=1)
cv_pro = desv_pad / med_pro
df['CV_pro'] = cv_pro

In [18]:
#Criando coluna 'Pts_H

#df.loc[(df['HG']  > df['AG']), 'Pts_H'] = 3
#df.loc[(df['HG'] == df['AG']), 'Pts_H'] = 1
#df.loc[(df['HG']  < df['AG']), 'Pts_H'] = 0

#Criando coluna 'Pts_A'
#df.loc[(df['HG']  < df['AG']), 'Pts_A'] = 3
#df.loc[(df['HG'] == df['AG']), 'Pts_A'] = 1
#df.loc[(df['HG']  > df['AG']), 'Pts_A'] = 0

In [19]:
# Média de pontos

df['Med_pts_H'] = df.groupby('Home')['Pts_H'].rolling(window=5,min_periods=5).mean().reset_index(0 , drop=True)
df['Med_pts_H'] = df.groupby('Home')['Med_pts_H'].shift(1)

df['Med_pts_A'] = df.groupby('Away')['Pts_A'].rolling(window=5,min_periods=5).mean().reset_index(0 , drop=True)
df['Med_pts_A'] = df.groupby('Away')['Med_pts_A'].shift(1)

# Desvio padrão dos pontos

df['Desvpad_pts_H'] = df.groupby('Home')['Pts_H'].rolling(window=5,min_periods=5).std().reset_index(0 , drop=True)
df['Desvpad_pts_H'] = df.groupby('Home')['Desvpad_pts_H'].shift(1)

df['Desvpad_pts_A'] = df.groupby('Away')['Pts_A'].rolling(window=5,min_periods=5).std().reset_index(0 , drop=True)
df['Desvpad_pts_A'] = df.groupby('Away')['Desvpad_pts_A'].shift(1)

# CV da média dos pontos

df['CV_pts_H'] = df['Desvpad_pts_H'] / df['Med_pts_H']
df['CV_pts_A'] = df['Desvpad_pts_A'] / df['Med_pts_A']

# Média de gols marcados 

df['Média_GM_H'] = df.groupby('Home')['HG'].rolling(window=5,min_periods=5).mean().reset_index(0 , drop=True)
df['Média_GM_H'] = df.groupby('Home')['Média_GM_H'].shift(1)

df['Média_GM_A'] = df.groupby('Away')['AG'].rolling(window=5,min_periods=5).mean().reset_index(0 , drop=True)
df['Média_GM_A'] = df.groupby('Away')['Média_GM_A'].shift(1)

# Desvio padrão dos gols marcados

df['Desvpad_GM_H'] = df.groupby('Home')['HG'].rolling(window=5,min_periods=5).std().reset_index(0 , drop=True)
df['Desvpad_GM_H'] = df.groupby('Home')['Desvpad_GM_H'].shift(1)

df['Desvpad_GM_A'] = df.groupby('Away')['AG'].rolling(window=5,min_periods=5).std().reset_index(0 , drop=True)
df['Desvpad_GM_A'] = df.groupby('Away')['Desvpad_GM_A'].shift(1)

# CV Gols marcados

df['CV_GM_H'] = df['Desvpad_GM_H'] / df['Média_GM_H']
df['CV_GM_A'] = df['Desvpad_GM_A'] / df['Média_GM_A']

# Média de gols sofridos

df['Média_GS_H'] = df.groupby('Home')['AG'].rolling(window=5,min_periods=5).mean().reset_index(0 , drop=True)
df['Média_GS_H'] = df.groupby('Home')['Média_GS_H'].shift(1)

df['Média_GS_A'] = df.groupby('Away')['HG'].rolling(window=5,min_periods=5).mean().reset_index(0 , drop=True)
df['Média_GS_A'] = df.groupby('Away')['Média_GS_A'].shift(1)

# Desvio padrão de gols sofridos

df['Desvpad_GS_H'] = df.groupby('Home')['AG'].rolling(window=5,min_periods=5).std().reset_index(0 , drop=True)
df['Desvpad_GS_H'] = df.groupby('Home')['Desvpad_GS_H'].shift(1)

df['Desvpad_GS_A'] = df.groupby('Away')['HG'].rolling(window=5,min_periods=5).std().reset_index(0 , drop=True)
df['Desvpad_GS_A'] = df.groupby('Away')['Desvpad_GS_A'].shift(1)

# CV dos gols sofridos

df['CV_GS_H'] = df['Desvpad_GS_H'] / df['Média_GS_H']
df['CV_GS_A'] = df['Desvpad_GS_A'] / df['Média_GS_A']

# Saldo de gols

df['SG_H'] = df['HG'] - df['AG']
df['SG_A'] = df['AG'] - df['HG']

# Média do Saldo de gols

df['Média_SG_H'] = df.groupby('Home')['SG_H'].rolling(window=5,min_periods=5).mean().reset_index(0 , drop=True)
df['Média_SG_H'] = df.groupby('Home')['Média_SG_H'].shift(1)

df['Média_SG_A'] = df.groupby('Away')['SG_A'].rolling(window=5,min_periods=5).mean().reset_index(0 , drop=True)
df['Média_SG_A'] = df.groupby('Away')['Média_SG_A'].shift(1)

# Desvio padrão do Saldo de gols

df['Desvpad_SG_H'] = df.groupby('Home')['SG_H'].rolling(window=5,min_periods=5).std().reset_index(0 , drop=True)
df['Desvpad_SG_H'] = df.groupby('Home')['Desvpad_SG_H'].shift(1)

df['Desvpad_SG_A'] = df.groupby('Away')['SG_A'].rolling(window=5,min_periods=5).std().reset_index(0 , drop=True)
df['Desvpad_SG_A'] = df.groupby('Away')['Desvpad_SG_A'].shift(1)

# CV do Saldo de gols

df['CV_SG_H'] = df['Desvpad_SG_H'] / df['Média_SG_H']
df['CV_SG_A'] = df['Desvpad_SG_A'] / df['Média_SG_A']

# Custo do gol

df['CG_H'] = df['HG'] / df['pro_H']
df['CG_A'] = df['AG'] / df['pro_A']

# Média do custo do gol

df['Média_CG_H'] = df.groupby('Home')['CG_H'].rolling(window=5,min_periods=5).mean().reset_index(0 , drop=True)
df['Média_CG_H'] = df.groupby('Home')['Média_CG_H'].shift(1)

df['Média_CG_A'] = df.groupby('Away')['CG_A'].rolling(window=5,min_periods=5).mean().reset_index(0 , drop=True)
df['Média_CG_A'] = df.groupby('Away')['Média_CG_A'].shift(1)

# Desvio padrão do custo do gol

df['Desvpad_CG_H'] = df.groupby('Home')['CG_H'].rolling(window=5,min_periods=5).std().reset_index(0 , drop=True)
df['Desvpad_CG_H'] = df.groupby('Home')['Desvpad_CG_H'].shift(1)

df['Desvpad_CG_A'] = df.groupby('Away')['CG_A'].rolling(window=5,min_periods=5).std().reset_index(0 , drop=True)
df['Desvpad_CG_A'] = df.groupby('Away')['Desvpad_CG_A'].shift(1)

# CV do custo do gol

df['CV_CG_H'] = df['Desvpad_CG_H'] / df['Média_CG_H']
df['CV_CG_A'] = df['Desvpad_CG_A'] / df['Média_CG_A']

#Limpeza das colunas
colunas_deletar = [ 'Pts_H', 'Pts_A', 'Desvpad_pts_H', 'Desvpad_pts_A', 'Desvpad_GM_H', 'Desvpad_GM_A','Desvpad_GS_H', 'Desvpad_GS_A',
                   'Desvpad_SG_H', 'Desvpad_SG_A', 'Desvpad_CG_H', 'Desvpad_CG_A',  'CG_H', 'CG_A' ,  'SG_H', 'SG_A']
df = df.drop(colunas_deletar , axis=1)
df = drop_reset_index(df)

In [20]:
# Removendo inf

df.replace([np.inf, -np.inf], np.nan, inplace=True)

# Removendo NaN

df = df.dropna()

In [21]:
# Arredondando para duas casas depois da vírgula
df = df.round(2)

In [46]:
df.to_excel('Base_de_dados_football_data.xlsx', index=False)

# Adicionando umm 'beep' quando concluido

beep.beep(5)